<p id="notice"><%= notice %></p>

<p>
  <strong>Component name:</strong>
  <%= @component.component_name %>
</p>

<p>
  <strong>Component amount:</strong>
  <%= @component.component_amount %>
</p>

<p>
  <strong>Component unit:</strong>
  <%= @component.component_unit %>
</p>

<p>
  <strong>Product:</strong>
  <%= @component.product %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
