<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Shipping address</th>
      <th>Fufillment date</th>
      <th>Fufillment time</th>
      <th>Fufillment status</th>
      <th>Order amount</th>
      <th>Order unit</th>
      <th>Per unit price</th>
      <th>Crm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.shipping_address %></td>
        <td><%= order.fufillment_date %></td>
        <td><%= order.fufillment_time %></td>
        <td><%= order.fufillment_status %></td>
        <td><%= order.order_amount %></td>
        <td><%= order.order_unit %></td>
        <td><%= order.per_unit_price %></td>
        <td><%= order.crm %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
